<div #wrapper class="wrapper">
    <div class="logo-rocket-container">
        <img #logoRocket src="../assets/launchcode-rocket.svg" alt="" class="logo-rocket">
    </div>
    <div #logo class="logo-container">
        <img class="logo" src="../assets/launchcode-text.svg" alt="">
    </div>
    
    <div #rocketContainer class="rocket-container">
        <img #rocket class="rocket" src="{{'../assets/rocket_flight-'+frame+'.svg'}}" alt="">
    </div>
    <div #assignments class="assignments">
        <app-assignment></app-assignment>
    </div>
</div>

