<div class="flex-container">
    <div class="card-container">
        <img class="galaxy" src="../../assets/galaxy_small.png" alt="">
        <mat-card class="card"></mat-card>
    </div>
    
    <div class="card-container">
        <img class="galaxy" src="../../assets/galaxy_small.png" alt="">
        <mat-card class="card"></mat-card>
    </div>
    
    <div class="card-container">
        <img class="galaxy" src="../../assets/galaxy_small.png" alt="">
        <mat-card class="card"></mat-card>
    </div>
    
    <div class="card-container">
        <img class="galaxy" src="../../assets/galaxy_small.png" alt="">
        <mat-card class="card"></mat-card>
    </div>

    <div class="card-container">
        <img class="galaxy" src="../../assets/galaxy_small.png" alt="">
        <mat-card class="card"></mat-card>
    </div>

    <div class="card-container">
        <img class="galaxy" src="../../assets/galaxy_small.png" alt="">
        <mat-card class="card"></mat-card>
    </div>
</div>
